<div class="my-3 d-flex">
  <h3>Search results for the following ingredients: <%= params.require(:ingredients) %></h3>
  <%= render 'export', search_results: search_results %>
</div>
<% if (params[:per_page] || 0).to_i > 10 %>
  <%= paginate search_results, total_pages: 100 %>
<% end %>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Cook time</th>
    <th scope="col">Prep time</th>
    <th scope="col">Ingredients</th>
    <th scope="col">Ratings</th>
    <th scope="col">Category</th>
    <th scope="col">Author</th>
    <th scope="col">Image</th>
  </tr>
  </thead>
  <tbody>
  <% search_results.each do |result| %>
    <tr>
      <th scope="row"><%= result.title %></th>
      <td><%= result.cook_time %></td>
      <td><%= result.prep_time %></td>
      <td>
        <ul>
          <% result.ingredients.each do |ingredient| %>
            <li><%= ingredient %></li>
          <% end %>
        </ul>
      </td>
      <td><%= result.ratings %></td>
      <td><%= result.category %></td>
      <td><%= result.author %></td>
      <td>
        <a href="<%= result.image %>" target="_blank">Click to see the image</a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate search_results, total_pages: 100 %>
